@font-face {
  font-family: "Marta";
  src: url(../../fonts/otf/Marta_Regular.otf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cruyff";
  src: url(../../fonts/otf/CruyffSans-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cruyff";
  src: url(../../fonts/otf/CruyffSansExpanded-Heavy.ttf) format("truetype");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #151616;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .topbar {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  margin: 0 3rem;
  height: 3rem;
}
header .topbar i {
  width: 3rem;
  color: gray;
}
header .topbar img {
  width: 1rem;
  filter: invert(100%);
}
@media (max-width: 1200px) {
  header .topbar {
    gap: 0rem;
    margin: 0;
    justify-content: center;
    gap: 10%;
  }
}
header a,
header button {
  color: white;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: "Cruyff";
  padding: 0.7rem;
}
header nav {
  display: flex;
  margin: 0 3rem;
  width: 100%;
  padding: 0.2rem;
  gap: 2.3rem;
  align-items: center;
}
header .dropdown1 {
  position: relative;
}
header .dropdown1 .content1 {
  display: none;
  background-color: #151616;
}
header .dropdown1 i {
  margin: 0 0.5rem;
}
header .dropdown1:hover .content1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
}
header .dropdown1:hover .content1 a {
  width: 15rem;
}
header .hover1:hover {
  color: #05f269;
  transition: ease 0.3s;
}
header .iconburger {
  display: none;
}
@media (max-width: 1200px) {
  header .hover1 {
    display: none;
  }
  header .iconburger {
    display: inline-block;
  }
  header nav {
    justify-content: center;
    margin: 0 0;
    gap: 0rem;
  }
}

.container-carousel {
  width: 100%;
  height: 90vh;
  background-image: url(../img/slide/slide1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-color: #151616;
}

.innercarousel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem;
  width: 70%;
}
.innercarousel h1 {
  font-size: 6rem;
  color: white;
  font-family: "Cruyff";
  font-weight: bold;
  max-width: 40%;
}
.innercarousel h2 {
  margin-top: -0.8rem;
  font-size: 1.2rem;
  color: white;
  font-family: "Marta";
}
.innercarousel a {
  text-decoration: none;
  color: black;
  background-color: #05f269;
  padding: 1rem;
  width: 8rem;
  text-align: center;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-family: "Cruyff";
}
.innercarousel a:hover {
  background-color: white;
  transition: ease 0.2s;
}

.container-carousel-right {
  background: rgba(92, 92, 92, 0.14);
  box-shadow: 0 0.2rem 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 0.1rem solid rgba(92, 92, 92, 0.4);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  margin: 5rem;
  max-width: 28rem;
  height: 55%;
  justify-content: center;
  gap: 1em;
  padding: 3rem 1rem;
}
.container-carousel-right .news {
  display: flex;
  justify-content: center;
}
.container-carousel-right .news img {
  max-width: 85%;
  height: auto;
}
.container-carousel-right .news .photonews {
  position: relative;
}
.container-carousel-right .news .photonews .docktoimg {
  position: absolute;
  color: white;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 20%;
  top: 60%;
  left: 5%;
  text-align: center;
  font-family: "Cruyff";
  font-weight: bold;
}
.container-carousel-right .news .textnews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  font-family: "Cruyff";
  margin-left: -2rem;
}
.container-carousel-right .news .textnews .newstitle {
  text-align: left;
}
.container-carousel-right .news .textnews .seemore {
  margin: 1rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: white;
  font-family: "Cruyff";
  cursor: pointer;
}
.container-carousel-right .news .textnews .seemore i {
  padding: 0.4rem;
  color: black;
  background-color: #05f269;
  border-radius: 20%;
}
.container-carousel-right .news .textnews .seemore:hover {
  color: #05f269;
}

@media (max-width: 1200px) {
  .innercarousel {
    margin: 3rem 0;
  }
  h1 {
    width: 100vw;
  }
  .container-carousel {
    flex-direction: column;
  }
  .container-carousel-right {
    padding: 0 0;
    max-width: 90%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    height: 28%;
    padding: 2rem 1rem;
    gap: 0rem;
  }
  .container-carousel-right .news {
    flex-direction: column;
  }
  .container-carousel-right .news .photonews {
    margin: 0;
    text-align: center;
  }
  .container-carousel-right .news .docktoimg {
    display: none;
  }
  .container-carousel-right .news .textnews {
    margin: 0;
    width: 80%;
  }
  .container-carousel-right .news .textnews .seemore {
    margin: 0.5rem 0;
  }
  .newstitle {
    text-align: center !important;
    width: 100%;
    margin: 0 0;
  }
}
@media (max-width: 900px) {
  .innercarousel {
    width: 90%;
  }
  .innercarousel h1 {
    width: 100%;
    margin: 0rem;
    font-size: 4rem;
  }
  .container-carousel {
    width: 100%;
    height: 70vh;
  }
}
@media (max-width: 400px) {
  .container-carousel {
    width: 100%;
    height: 40vh;
  }
  .innercarousel {
    width: 90%;
  }
  .innercarousel h1 {
    width: 100%;
    margin: 0rem;
    font-size: 2.5rem;
  }
  .container-carousel-right {
    display: none;
  }
}
.container-latest-news {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.container-latest-news a {
  text-decoration: none;
}
.container-latest-news .head-latest {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
.container-latest-news .head-latest .title {
  font-size: 2rem;
  font-family: "Cruyff";
  font-weight: bold;
}
.container-latest-news .news-body {
  display: flex;
}
.container-latest-news .news-body .pic-news {
  margin: 0.5rem 0;
  max-width: 40rem;
}
.container-latest-news .news-body .textblock {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  gap: 1rem;
}
.container-latest-news .news-body .textblock .date {
  font-family: "Marta";
  color: black;
}
.container-latest-news .news-body .textblock .titlenews {
  font-size: 1.8rem;
  font-family: "Cruyff";
  font-weight: bold;
  width: 100%;
  color: black;
}
.container-latest-news .news-body .textblock .titlenews:hover {
  color: #05f269;
  transition: ease 0.1s;
}
.container-latest-news .news-body .textblock .resume {
  font-family: "Cruyff";
  width: 100%;
  font-size: 1.1rem;
  color: rgb(92, 92, 92);
}

@media (max-width: 1200px) {
  .news-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .news-body .pic-news {
    width: 100%;
    height: 100%;
  }
  .news-body .textblock {
    text-align: center;
    gap: 0rem;
  }
}
@media (max-width: 900px) {
  .textblock {
    max-width: 80%;
  }
  .pic-news {
    width: 100%;
    height: 100%;
  }
}
.seemore {
  border: none;
  background-color: transparent;
  font-family: "Cruyff";
  font-size: 1rem;
  cursor: pointer;
}
.seemore i {
  margin-left: 0.5rem;
  padding: 0.4rem;
  background-color: #05f269;
  border-radius: 20%;
}

.seemore:hover {
  color: #05f269;
}
.seemore:hover i {
  color: black;
}/*# sourceMappingURL=style.css.map */