@font-face {
  font-family: "Marta";
  src: url(/fonts/otf/Marta_Regular.otf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cruyff";
  src: url(/fonts/otf/CruyffSans-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cruyff";
  src: url(/fonts/otf/CruyffSansExpanded-Heavy.ttf) format("truetype");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #151616;
  font-family: "Cruyff";
}
header .topbar {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  margin: 0 3rem;
  height: 3rem;
}
header .topbar i {
  width: 3rem;
  width: 3rem;
  color: gray;
}
header .topbar img {
  width: 2rem;
  width: 2rem;
  filter: invert(100%);
}
header a,
header button {
  color: white;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
}
header nav {
  display: flex;
  margin: 0 3rem;
  width: 100%;
  padding: 0.2rem;
  gap: 2.3rem;
  align-items: center;
}
header .dropdown1 {
  position: relative;
}
header .dropdown1 .content1 {
  display: none;
  background-color: #151616;
}
header .dropdown1:hover .content1 {
  display: block;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.container-carousel {
  width: 100%;
  height: 90vh;
  background-image: url(/img/slide/slide1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.innercarousel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem;
  width: 70%;
}
.innercarousel h1 {
  font-size: 6rem;
  color: white;
  font-family: "Cruyff";
  font-weight: bold;
  max-width: 40%;
}
.innercarousel h2 {
  margin-top: -0.8rem;
  font-size: 1.2rem;
  color: white;
  font-family: "Marta";
}
.innercarousel a {
  text-decoration: none;
  color: black;
  background-color: #05f269;
  padding: 1rem;
  width: 8rem;
  text-align: center;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-family: "Cruyff";
}

.container-carousel-right {
  background: rgba(92, 92, 92, 0.14);
  box-shadow: 0 0.2rem 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 0.1rem solid rgba(92, 92, 92, 0.4);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  margin: 5rem;
  max-width: 28rem;
  height: 55%;
  justify-content: center;
  gap: 1em;
  padding: 2rem;
  margin-left: 0rem;
}
.container-carousel-right .news {
  display: flex;
  justify-content: center;
}
.container-carousel-right .news img {
  max-width: 85%;
  height: auto;
}
.container-carousel-right .news .photonews {
  position: relative;
}
.container-carousel-right .news .photonews .docktoimg {
  position: absolute;
  color: white;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 20%;
  top: 60%;
  left: 5%;
  text-align: center;
  font-family: "Cruyff";
  font-weight: bold;
}
.container-carousel-right .news .textnews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  font-family: "Cruyff";
}
.container-carousel-right .news .textnews .newstitle {
  text-align: left;
  margin-left: -2rem;
}
.container-carousel-right .news .textnews .seemore {
  margin: 1rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: white;
  font-family: "Cruyff";
}
.container-carousel-right .news .textnews .seemore i {
  margin-left: 0.4rem;
  padding: 0.4rem;
  color: black;
  background-color: #05f269;
  border-radius: 100%;
}

.container-latest-news {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.container-latest-news .head-latest {
  display: flex;
  justify-content: center;
  gap: 77%;
}
.container-latest-news .head-latest .title {
  font-size: 2rem;
  font-family: "Cruyff";
  font-weight: bold;
}
.container-latest-news .news-body {
  display: flex;
}
.container-latest-news .news-body .pic-news {
  width: 45%;
  margin: 0.5rem 0;
}
.container-latest-news .news-body .textblock {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  gap: 1rem;
}
.container-latest-news .news-body .textblock .date {
  font-family: "Marta";
}
.container-latest-news .news-body .textblock .titlenews {
  font-size: 1.8rem;
  font-family: "Cruyff";
  font-weight: bold;
  width: 50%;
}
.container-latest-news .news-body .textblock .resume {
  font-family: "Cruyff";
  width: 50%;
  font-size: 1.1rem;
  color: rgb(92, 92, 92);
}

.seemore {
  border: none;
  background-color: transparent;
  font-family: "Cruyff";
  font-size: 1rem;
}
.seemore i {
  margin-left: 0.5rem;
  padding: 0.4rem;
  background-color: #05f269;
  border-radius: 100%;
}/*# sourceMappingURL=style.css.map */